@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&family=Lora:ital@1&display=swap');


html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
header {
    background-color: #faeeda;
    width: 100%; /* Ancho del encabezado */
    padding: 10px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    position: sticky;
    top: 0;
}


header div ol {
    text-decoration: none;
    color: #0b0b0d;
    text-align: center;
   
 
}

header div ol a {
    text-decoration: none;
    color: #0b0b0d;
    margin: 60px;
    font-size: 25px;
}

body {
    font-family: 'Lora', serif;
    margin: 0;
    background-color: #fffff3;
    
}


#maintitle{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    
}

#titletable{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
}

#Table{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 25px;
    width: auto;
    margin: 0 auto;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
}

#Links a {
    text-decoration: none;
}



#Links{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
}


#redes {
    display: flex;
    
    margin-top: 10px; /* Ajusta según sea necesario */
}

ul img {
    margin-bottom: 20px; /* Ajusta según sea necesario */
}

.container{
    display: flex;
}

#redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body, h1, h2, p, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
    background-color: #fffff3;
}

.footer {
    background-color: #faeeda; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    text-align: center;
}

.footer .Group1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    margin-bottom: 20px;
}

.box h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.red-social a {
    margin-right: 10px;
}

.group2 {
    margin-top: 20px;
}

.group2 small {
    font-size: 0.8em;
    color: #666; /* Color del texto secundario */
}
