@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&family=Lora:ital@1&display=swap');
html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
    color:#1717e2
   
}
header {
    background-color: #c4d4ab;
    width: 100%; /* Ancho del encabezado */
    padding: 10px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    position: sticky;
    top: 0;
}


header div ol {
    text-decoration: none;
    color: #0b0b0d;
    text-align: center;
   
 
}

header div ol a {
    text-decoration: none;
    color: #0b0b0d;
    margin: 60px;
    font-size: 25px;
}

.boton :hover{
    
    color: #eff0d5;
    
}

body {
    font-family: 'Lora', serif;
    margin: 0;
    background-color: #eff0d5;
   
}

#friendForm{
    margin: 20px;
}

#friendTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
    margin: 20px;
   
}

th, td{
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

h3{
    text-align: center;
}

ul{
    text-align: center;
}
