@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&family=Lora:ital@1&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&family=Lora:ital@1&display=swap');

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}
header {
    background-color: #c4d4ab;
    width: 100%; /* Ancho del encabezado */
    padding: 10px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    position: sticky;
    top: 0;
}
header div ol {
    text-decoration: none;
    color: #0b0b0d;
    text-align: center;
   
 
}
header div ol a {
    text-decoration: none;
    color: #0b0b0d;
    margin: 60px;
    font-size: 25px;
}
body {
    font-family: 'Lora', serif;
    margin: 0;
    background-color: #eff0d5;
    
}
.boton :hover{
    background-color: #1717e2;
    color: #1717e2;
    
}
#maintitle{
    text-align: center;
}

#material-interes{
    margin: auto;
    text-align: center;
   
}

#material-interes ul{
    margin: auto;
    text-align: center;
    padding: 0;
}

#imagenes{
    text-align: center;
}

#imagenes img{
    width: 400px;
    height: 400px;
}

.footer {
    background-color: #c4d4ab; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    text-align: center;
}

.footer .Group1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    margin-bottom: 20px;
}

.box h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.red-social a {
    margin-right: 10px;
}

.group2 {
    margin-top: 20px;
}

.group2 small {
    font-size: 0.8em;
    color: #171430; /* Color del texto secundario */
}
